<div id="menuBar">
   <a class="active" href="/">Home</a>
   <a href="classes">Class</a>
   <a href="search">Search</a>
   <a href="account">Account</a>
   <a href="signup">Sign Up</a>
   <a href="admin">Admin</a>
</div>

<div id="title">
   <h1>Admin Page</h1>
</div>

<div id="subtitle">
   <h2>Add Data</h2>
</div>

<h3>Add Class</h3>
<form id="classAddForm">
   Subject: <select name="subject"> 
      {{#each subjects}}
      <option value={{id}}>{{name}}</option>
      {{/each}}
    </select><br>
   Term: <select name="term">
      {{#each terms}}
      <option value={{id}}>{{name}} {{year}}</option>
      {{/each}}
   </select><br>
   Name: <input type="text" name="name"><br>
   Total: <input type="number" name="total"><br>
   Max: <input type="number" name="max"><br>
   Credit: <input type="number" name="credit"><br>
   <input type="submit" value="Add">
</form>

<h3>Add Student</h3>
<form id="addStudentForm">
   First Name: <input type="text" name="fname"><br>
   Middle Name: <input type="text" name="mname"><br>
   Last Name: <input type="text" name="lname"><br>
   Email: <input type="text" name="email"><br>
   Phone Number: <input type="text" name="phone"><br>
   <input type="submit" value="Add">
</form>

<h3>Add Subject</h3>
<form id="addSubjectForm">
   Subject Name: <input type="text" name="subjectName"><br>
   <input type="submit" value="Add">
</form>

<h3>Add Term</h3>
<form id="addTermForm">
   Term Name: <input type="text" name="termName"><br>
   Year: <input type="text" name="termYear"><br>
   Max Credit: <input type="text" name="termMax"><br>
   <input type="submit" value="Add">
</form>

<div id="subtitle">
   <h2>DB Tables</h2>
</div>

<div id="head">
   <h3> Class List </h3>
</div>
   
<table id="classes">
   <tr>
      <th> Id </th>
      <th> Subject </th>
      <th> Term </th>
      <th> Name </th>
      <th> Enrolled </th>
      <th> Cap </th>
      <th> Credit </th>
   </tr>
   <tr>
      <td> 1 </td>
      <td> Computer Science </td>
      <td> Spring 2020 </td>
      <td> Algorithms </td>
      <td> 200 </td>
      <td> 250 </td>
      <td> 4 </td>
      <td>
         <button> Delete </button>
      </td>
   </tr>
   <tr>
      <td> 2 </td>
      <td> Computer Science </td>
      <td> Spring 2020 </td>
      <td> Operating System </td>
      <td> 124 </td>
      <td> 250 </td>
      <td> 4 </td>
      <td>
         <button> Delete </button>
      </td>
   </tr>
   <tr>
      <td> 3 </td>
      <td> Computer Science </td>
      <td> Spring 2020 </td>
      <td> Databases </td>
      <td> 121 </td>
      <td> 200 </td>
      <td> 4 </td>
      <td>
         <button> Delete </button>
      </td>
   </tr>
</table> 

<div id="head">
   <h3> Student List </h3>
</div>
   
<table id="students">
   <tr>
      <th> Id </th>
      <th> First Name </th>
      <th> Middle Name </th>
      <th> Last Name </th>
      <th> Email </th>
      <th> Mobile </th>
   </tr>
   <tr>
      <td> 1 </td>
      <td> John </td>
      <td> M. </td>
      <td> Kim </td>
      <td> kim@oregonstate.edu </td>
      <td> 123-424-2321 </td>
      <td>
         <button> Delete </button>
      </td>
   </tr>
   <tr>
      <td> 2 </td>
      <td> Victoria </td>
      <td>  </td>
      <td> Lee </td>
      <td> lee@oregonstate.edu </td>
      <td> 123-424-2321 </td>
      <td>
         <button> Delete </button>
      </td>
   </tr>
   <tr>
      <td> 3 </td>
      <td> Serena </td>
      <td> Caylah </td>
      <td> Norwood </td>
      <td> nor@oregonstate.edu </td>
      <td> 123-424-2321 </td>
      <td>
         <button> Delete </button>
      </td>
   </tr>
</table>   

<div id="head">
   <h3> Account List </h3>
</div>

<table id="accounts">
   <tr>
      <th> Id </th>
      <th> Student Id </th>
      <th> Last Name </th>
      <th> Amount Due </th>
      <th> Total Credit </th>
   </tr>
   <tr>
      <td> 1 </td>
      <td> 1 </td>
      <td> Kim </td>
      <td> 2000 </td>
      <td> 4 </td>
   </tr>
   <tr>
      <td> 2 </td>
      <td> 2 </td>
      <td> Lee </td>
      <td> 4000 </td>
      <td> 8 </td>
   </tr>
   <tr>
      <td> 3 </td>
      <td> 3 </td>
      <td> Craig </td>
      <td> 2000 </td>
      <td> 4 </td>
   </tr>
</table>   

<div id="head">
   <h3> Subject List </h3>
</div>
   
<table id="subjects">
   <tr>
      <th> Id </th>
      <th> Subject Name </th>
   </tr>
   <tr>
      <td> 1 </td>
      <td> Accounting </td>
      <td>
         <button> Delete </button>
      </td>
   </tr>
   <tr>
      <td> 2 </td>
      <td> Art </td>
      <td>
         <button> Delete </button>
      </td>
   </tr>
   <tr>
      <td> 3 </td>
      <td> Computer Science </td>
      <td>
         <button> Delete </button>
      </td>
   </tr>
</table>

<div id="head">
   <h3> Term List </h3>
</div>
   
<table id="terms">
   <tr>
      <th> Id </th>
      <th> Name </th>
      <th> Year </th>
      <th> Max Credit </th>
   </tr>
   <tr>
      <td> 1 </td>
      <td> Spring </td>
      <td> 2020 </td>
      <td> 16 </td>
      <td>
         <button> Delete </button>
      </td>
   </tr>
   <tr>
      <td> 2 </td>
      <td> Winter </td>
      <td> 2020 </td>
      <td> 16 </td>
      <td>
         <button> Delete </button>
      </td>
   </tr>
   <tr>
      <td> 3 </td>
      <td> Summer </td>
      <td> 2020 </td>
      <td> 16 </td>
      <td>
         <button> Delete </button>
      </td>
   </tr>
</table>