<nav class="navbar navbar-expand-md bg-light navbar-light mb-3">
   <a class="navbar-brand" href="/">School Enrollment Manager</a>
   <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/classes">Class</a>
         </li>
      </ul>
   </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

<h3 class="mb-3 text-center">Classes</h3>
<div class="container mb-5">
   <div class="row">
      <div class="col-4">
         <form id="addClass" action="/admin/class" method="post">
            <div class="form-group">
               <label for="subject">Subject</label>
               <select class="form-control" name="subject" id="subject"> 
                  <option value="none">None</option>
                  {{#each subjects}}
                  <option value={{id}}>{{name}}</option>
                  {{/each}}
               </select>
            </div>
            <div class="form-group">
               <label for="term">Term</label>
               <select class="form-control" name="term" id="term">
                  <option value="none">None</option>
                  {{#each terms}}
                  <option value={{id}}>{{name}} {{year}}</option>
                  {{/each}}
               </select>
            </div>
            <div class="form-group">
               <label for="name">Name</label>
               <input class="form-control" type="text" name="name" id="name">
            </div>
            <div class="row">
               <div class="form-group col-md-6">
                  <label for="max">Max Students</label>
                  <input class="form-control" type="number" name="max" id="max">
               </div>
               <div class="form-group col-md-6">
                  <label for="credit">Credit</label>
                  <input class="form-control" type="number" name="credit" id="credit">
               </div>
            </div>
            <input class="mb-3 btn btn-info btn-md btn-block" type="submit" value="Add">
         </form>
      </div>
      <div class="col-8">
         <table id="classes" class="table table-striped table-bordered text-center">
            <thead>
               <th> Id </th>
               <th> Subject </th>
               <th> Term </th>
               <th> Name </th>
               <th> Enrolled </th>
               <th> Cap </th>
               <th> Credit </th>
               <th></th>
               <th></th>
            </thead>
            <tbody>
               {{#each classes}}
               <tr>
                  <td> {{id}} </td>
                  <td> {{sname}} </td>
                  <td> {{tname}} {{tyear}}</td>
                  <td> {{cname}} </td>
                  <td> {{enroll}} </td>
                  <td> {{max}} </td>
                  <td> {{credit}} </td>
                  <td><a class="btn btn-warning btn-sm" href="/admin/class/{{id}}">Edit</a></td>
                  <td>
                     <button
                        class="btn btn-danger btn-sm"
                        onclick="deleteClass({{id}})"
                     > Delete </button>
                  </td>
               </tr>
               {{/each}}
            </tbody>
         </table> 
      </div>
   </div>
</div>

<h3 class="mb-3 text-center">Students</h3>
<div class="container mb-5">
   <div class="row">
      <div class="col-4">
         <form id="addStudent" action="/admin/student" method="post">
            <div class="form-group">
               <label for="fname">First Name</label>
               <input class="form-control" type="text" name="fname" id="fname">
            </div>
            <div class="form-group">
               <label for="mname">Middle Name</label>
               <input class="form-control" type="text" name="mname" id="mname">
            </div>
            <div class="form-group">
               <label for="lname"> Last Name</label>
               <input class="form-control" type="text" name="lname" id="lname">
            </div>
            <div class="form-group">
               <label for="email"> Email</label>
               <input class="form-control" type="text" readonly class="form-control-plaintext" id="email" value="your_first_name@example.com">
            </div>
            <div class="form-group">
               <label for="phone">Phone Number</label>
               <input class="form-control" type="text" name="phone" id="phone">
            </div>
            <input class="mb-3 btn btn-info btn-md btn-block" type="submit" value="Add">
         </form>
      </div>
      <div class="col-8">
         <table id="students" class="table table-striped table-bordered text-center">
            <thead>
               <th> Id </th>
               <th> First Name </th>
               <th> Middle Name </th>
               <th> Last Name </th>
               <th> Email </th>
               <th> Mobile </th>
               <th></th>
               <th></th>
            </thead>
            <tbody>
               {{#each students}}
               <tr>
                  <td> {{id}} </td>
                  <td> {{fname}} </td>
                  <td> {{mname}} </td>
                  <td> {{lname}} </td>
                  <td> {{email}} </td>
                  <td> {{mobile}} </td>
                  <td><a class="btn btn-warning btn-sm" href="/admin/student/{{id}}">Edit</a></td>
                  <td>
                     <button
                        class="btn btn-danger btn-sm"
                        onclick="deleteStudent({{id}})"
                     > Delete </button>
                  </td>
               </tr>
               {{/each}}
            </tbody>
         </table>
      </div>
   </div>
</div>

<h3 class="mb-3 text-center">Accounts</h3>
<div class="container mb-5">
   <div class="row">
      <div class="col-4">
         <form id="addAccount" action="/admin/account" method="post">
            <div class="form-group">
               <label for="sid">Students with no account</label>
               <select class="form-control" name="sid" id="sid">
                  {{#each noaccount}}
                  <option value={{id}}>Student Id: {{id}} Name: {{fname}} {{lname}}</option>
                  {{/each}}
               </select>
            </div>
            <input class="mb-3 btn btn-info btn-md btn-block" type="submit" value="Add">
         </form>
      </div>
      <div class="col-8">
         <table id="accounts" class="table table-striped table-bordered text-center">
            <thead>
               <th> Id </th>
               <th> Student Id </th>
               <th> Name </th>
               <th> Amount Due </th>
               <th> Total Credit </th>
               <th></th>
            </thead>
            <tbody>
               {{#each accounts}}
               <tr>
                  <td> {{id}} </td>
                  <td> {{sid}} </td>
                  <td> {{fname}} {{lname}} </td>
                  <td> {{amount}} </td>
                  <td> {{credit}} </td>
                  <td>
                     <button
                        class="btn btn-danger btn-sm"
                        onclick="deleteAccount({{id}})"
                     > Delete </button>
                  </td>
               </tr>
               {{/each}}
            </tbody>
         </table> 
      </div>
   </div>
</div>

<h3 class="mb-3 text-center">Subjects</h3>
<div class="container mb-5">
   <div class="row">
      <div class="col-4">
         <form id="addSubject" action="/admin/subject" method="post">
            <div class="form-group">
               <label for="sname">Subject Name</label>
               <input class="form-control" type="text" name="name" id="sname">
            </div>
            <input class="mb-3 btn btn-info btn-md btn-block" type="submit" value="Add">
         </form>
      </div>
      <div class="col-8">
         <table id="subjects" class="table table-striped table-bordered text-center">
            <thead>
               <th> Subject Name </th>
               <th></th>
            </thead>
            <tbody>
               {{#each subjects}}
               <tr>
                  <td> {{name}} </td>
                  <td>
                     <button
                        class="btn btn-danger btn-sm"
                        onclick="deleteSubject({{id}})"
                     > Delete </button>
                  </td>
               </tr>
               {{/each}}
            </tbody>
         </table>
      </div>
   </div>
</div>

<h3 class="mb-3 text-center">Terms</h3>
<div class="container mb-5">
   <div class="row">
      <div class="col-4">
         <form id="addTerm" action="/admin/term" method="post">
            <div class="form-group">
               <label for="tname">Term Name</label>
               <input class="form-control" type="text" name="name" id="tname">
            </div>
            <div class="row">
               <div class="form-group col-md-6">
                  <label for="year">Year</label>
                  <input class="form-control" type="number" name="year" id="year">
               </div>
               <div class="form-group col-md-6">
                  <label for="max">Max Credit</label>
                  <input class="form-control" type="number" name="max" id="max">
               </div>
            </div>
            <input class="mb-3 btn btn-info btn-md btn-block" type="submit" value="Add">
         </form>
      </div>
      <div class="col-8">
         <table id="terms" class="table table-striped table-bordered text-center">
            <thead>
               <th> Name </th>
               <th> Year </th>
               <th> Max Credit </th>
               <th></th>
            </thead>
            <tbody>
               {{#each terms}}
               <tr>
                  <td> {{name}} </td>
                  <td> {{year}} </td>
                  <td> {{max}} </td>
                  <td>
                     <button
                        class="btn btn-danger btn-sm"
                        onclick="deleteTerm({{id}})"
                     > Delete </button>
                  </td>
               </tr>
               {{/each}}
            </tbody>
         </table>
      </div>
   </div>
</div>

</div>