<div id="menuBar">
   <a class="active" href="/">Home</a>
   <a href="search">Search</a>
   <a href="classes">Class</a>
   <a href="admin">Admin</a>
</div>  
<div id="head">
      <h1> Class Schedules </h1>
</div>

<form id="class_search" action="" method="">
    <label> Search by your Student ID</label>
    <input id="student_ID" type="text" name="student_ID" value="">
    <input type="button" value="Search" onclick="getStudentID()">
</form>


<table id="studentClasses">
   <thead>
      <th> Subject </th>
      <th> Term </th>
      <th> Class </th>
      <th> Enrolled Students </th>
      <th> Max Students </th>
      <th> Credits </th>
   </thead>
   <tboad>
      {{#each classes}}
      <tr>
         <td> {{sname}} </td>
         <td> {{tname}} {{tyear}}</td>
         <td> {{cname}} </td>
         <td> {{enroll}} </td>
         <td> {{max}} </td>
         <td> {{credit}} </td>
      </tr>
      {{/each}}
   </tbody>
</table>   