<html>
<h1>Edit Class</h1>
<form id="edit-class" action="/admin/class" method="post">
    Subject: <select name="subject" id="subject-selector">
       <option value="none">None</option>
      {{#each subjects}}
      <option value={{id}}>{{name}}</option>
      {{/each}}
   </select><br>
   Term: <select name="term" id="term-selector">
      <option value="none">None</option>
      {{#each terms}}
      <option value={{id}}>{{name}} {{year}}</option>
      {{/each}}
   </select><br>
   Name: <input type="text" name="name" value="{{class.name}}"><br>
   Max Students: <input type="number" name="max" value="{{class.max}}"><br>
   Credit: <input type="number" name="credit" value="{{class.credit}}"><br>
</form>
<button onclick="editClass({{class.id}})">Save</button>
<input type="button" value="Cancel" onclick="history.back()">
<script defer>
   selectSubject({{class.sid}});
   selectTerm({{class.tid}});
</script>
</html>
