<div id="menuBar">
   <a class="active" href="/">Home</a>
   <a href="search">Search</a>
   <a href="classes">Class</a>
   <a href="admin">Admin</a>
</div>  
<div id="head">
      <h1> Search Classes </h1>
</div>
   
<form id="filterSubjectForm" action="" method="">
   Search by Subject: <select id="filterSubject" name="subject">
      {{#each subjects}}
      <option value={{id}}>{{name}}</option>
      {{/each}}
    </select>
   <input type="button" value="Search" onclick="filterClassesBySubject()">
   <a href="/search/">Clear</a>
</form>

<form id="filterTermForm" action="" method="">
   Search by Term: <select id="filterTerm" name="term">
      {{#each terms}}
      <option value={{id}}>{{name}} {{year}}</option>
      {{/each}}
    </select>
   <input type="button" value="Search" onclick="filterClassesByTerm()">
   <a href="/search/">Clear</a>
</form>

<table id="classes">
   <thead>
      <th> Subject </th>
      <th> Term </th>
      <th> Name </th>
      <th> Enrolled </th>
      <th> Cap </th>
      <th> Credit </th>
   </thead>
   <tbody>
      {{#each classes}}
      <tr>
         <td> {{sname}} </td>
         <td> {{tname}} {{tyear}}</td>
         <td> {{cname}} </td>
         <td> {{enroll}} </td>
         <td> {{max}} </td>
         <td> {{credit}} </td>
         <td><a href="/search/class/{{id}}">Add</a></td>
      </tr>
      {{/each}}
   </tbody>
</table> 