<nav class="navbar navbar-expand-md bg-light navbar-light mb-3">
   <a class="navbar-brand" href="/">School Enrollment Manager</a>
   <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <a class="nav-link" href="search">Search</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="classes">Class</a>
         </li>
      </ul>
   </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="admin">Admin</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mb-5">
   <h2 class="mb-3 text-center"> Search Classes </h2>

   <div class="row">
      <div class="col-sm-6">
         <form id="filterSubjectForm" action="" method="">
            <div class="form-group">
               <label for="filterSubject">Filter by Subject</label>
               <select class="form-control mb-2" id="filterSubject" name="subject">
                  {{#each subjects}}
                  <option value={{id}}>{{name}}</option>
                  {{/each}}
               </select>
               <input class="mb-3 btn btn-info btn-md btn-block" type="button" value="Search" onclick="filterClassesBySubject()">
            </div>
         </form>
      </div>
      <div class="col-sm-6">
         <form id="filterTermForm" action="" method="">
            <div class="form-group">
               <label for="filterTerm">Filter by Term</label>
               <select class="form-control mb-2" id="filterTerm" name="term">
                  {{#each terms}}
                  <option value={{id}}>{{name}} {{year}}</option>
                  {{/each}}
               </select>
               <input class="mb-3 btn btn-info btn-md btn-block" type="button" value="Search" onclick="filterClassesByTerm()">
               
            </div>
         </form>
      </div>
   </div>
   <div class="d-flex justify-content-end mt-2">
      <a class="btn btn-dark btn-md mb-2" href="/search/">Clear</a>
   </div>

   <table class="table table-striped table-bordered text-center" id="classes">
      <thead>
         <th> Subject </th>
         <th> Term </th>
         <th> Name </th>
         <th> Enrolled </th>
         <th> Cap </th>
         <th> Credit </th>
         <th></th>
      </thead>
      <tbody>
         {{#each classes}}
         <tr>
            <td> {{sname}} </td>
            <td> {{tname}} {{tyear}}</td>
            <td> {{cname}} </td>
            <td> {{enroll}} </td>
            <td> {{max}} </td>
            <td> {{credit}} </td>
            <td><a class="btn btn-warning" href="/search/class/{{id}}">Add</a></td>
         </tr>
         {{/each}}
      </tbody>
   </table> 

</div>